Repository owkin/histoplus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, mypy

ruff-linter:
  name: Lint with `ruff`
  language: system
  require_serial: true
  entry: uv run ruff check
  args:
  - --fix

ruff-format:
  name: Format with `ruff`
  language: system
  require_serial: true
  entry: uv run ruff format

mypy:
  name: Test typing with `mypy`
  language: system
  require_serial: true
  entry: uv run mypy

Add huggingface-hub
  pyproject.toml
  uv.lock
Due: none

setup
  histoplus/helpers/hub/__init__.py
  histoplus/helpers/hub/utils.py
  histoplus/helpers/nn/cellvit/model.py
Due: ruff-linter, ruff-format, mypy

fix
  histoplus/helpers/hub/__init__.py
  histoplus/helpers/hub/utils.py
Due: ruff-linter, ruff-format, mypy

rm number_tissue_types
  histoplus/helpers/hub/__init__.py
  histoplus/helpers/nn/cellvit/model.py
  tests/helpers/test_models.py
Due: ruff-linter, ruff-format, mypy

Add figures
  README.md
  docs/comparison_metrics.png
  docs/scatter_plot_fig.png
Due: none

Update repo structure
  README.md
Due: none

Update figure legend
  README.md
Due: none

doc: Update README + LICENSE (#15)
  LICENSE.md
  README.md
  docs/comparison_metrics.png
  docs/scatter_plot_fig.png
Due: none

Updated readme
  README.md
Due: none

DOC: Add example in README (#16)
  README.md
Due: none

cosmit
  LICENSE.md
Due: none

hub(hf): add support to models (#14)
  LICENSE.md
  histoplus/helpers/hub/__init__.py
  histoplus/helpers/hub/utils.py
  histoplus/helpers/nn/cellvit/model.py
  pyproject.toml
  tests/helpers/test_models.py
  uv.lock
Due: ruff-linter, ruff-format, mypy

Updated README
  README.md
Due: none

Updated HF repo id
  histoplus/helpers/hub/__init__.py
Due: ruff-linter, ruff-format, mypy

hub(hf): Update repo id (#18)
  README.md
  histoplus/helpers/hub/__init__.py
Due: ruff-linter, ruff-format, mypy

DOC: Update README (#19)
  README.md
Due: none

rm tests
  tests/conftest.py
Due: ruff-linter, ruff-format

update tests
  tests/conftest.py
  tests/extract/test_extract.py
  tests/helpers/test_tiling.py
Due: ruff-linter, ruff-format

Update conftest
  tests/conftest.py
Due: ruff-linter, ruff-format

Update description
  README.md
Due: none

Updated pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Version dunder variable
  histoplus/__init__.py
Due: ruff-linter, ruff-format, mypy

updated readme
  README.md
Due: none

DOC: Add README.md (#21)
  README.md
  histoplus/__init__.py
  pyproject.toml
  uv.lock
Due: ruff-linter, ruff-format, mypy

Fill in tests
  tests/conftest.py
Due: ruff-linter, ruff-format

Added openslide-bin dependency
  pyproject.toml
  uv.lock
Due: none

parametrize tests
  tests/cli/test_utils.py
  tests/conftest.py
  tests/extract/test_extract.py
  tests/helpers/test_segmentor.py
Due: ruff-linter, ruff-format

skip
  tests/cli/test_endpoint.py
  tests/cli/test_utils.py
  tests/conftest.py
  tests/extract/test_extract.py
  tests/helpers/test_segmentor.py
Due: ruff-linter, ruff-format

cosmit
  histoplus/__init__.py
Due: ruff-linter, ruff-format, mypy

MAINT: Update tests (#20)
  histoplus/__init__.py
  pyproject.toml
  tests/cli/test_endpoint.py
  tests/cli/test_utils.py
  tests/conftest.py
  tests/extract/test_extract.py
  tests/helpers/test_segmentor.py
  tests/helpers/test_tiling.py
  uv.lock
Due: ruff-linter, ruff-format, mypy

Path conditions:
  ruff-linter: any of: ^(histoplus|tests)/ and \.py$ and not ((.*pb2\.py$|tests/cli/test_cli\.py$))
  ruff-format: any of: ^(histoplus|tests)/ and \.py$ and not (.*pb2\.py$)
  mypy: any of: ^histoplus/ and \.py$ and not (.*pb2\.py$)
